html{
    background-color:#e4e3e8;
    font-family: 'Work Sans', sans-serif;
}
.bg-dark{
    background-color: #181d2b;
}

.bg-grey{
   background-color:  #e9e9eb;
}

.modal {
  max-height: 90%;
}

.modal-form-row {
  margin-bottom: 0px;
}

menu_active{
  border-left: 4px solid #0288d1;
}

.task-cat {
  padding: 2px 4px;
  color: #fff;
  font-weight: 300;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}